[Unit]
Description=AMMP Datalogging Service
Documentation=https://watson.eon-ogs.com/display/DC/EOGS+Datalogger
After=network-online.target

[Service]
Type=simple
User=datalog
WorkingDirectory=/opt/datalog
ExecStart=/opt/datalog/src/datalog.py -I 60 -r -t 1 -l /var/log/datalog/datalog.log -q /var/tmp/datalog_queue.db -d
Restart=on-failure

[Install]
WantedBy=multi-user.target