[[source]]
name = "ammplipy"
url = "https://ammplipy.ammp.io"
verify_ssl = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
bandit = "*"
flake8-annotations = "*"
mypy = "*"
flake8-mypy = "*"
yapf = "*"
autopep8 = "*"

[packages]
pyyaml = "*"
python-dotenv = "*"
pymodbustcp = "*"
minimalmodbus = "*"
pyserial = "*"
easysnmp = "*"
arrow = "*"
peewee = "*"
psutil = "*"
requests = "*"
influxdb = "*"
xmltodict = "*"
requests-unixsocket = "*"
flask = "*"
paho-mqtt = "*"
ammp-pyjsonata = ">=0.0.1a9"

[requires]
python_version = "3.6"

[scripts]
ammp_edge = "python3 src/ammp_edge.py"

[pipenv]
allow_prereleases = true
