[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
bandit = "*"
flake8-annotations = "*"
mypy = "*"
flake8-mypy = "*"

[packages]
pyyaml = "*"
python-dotenv = "*"
pymodbustcp = "*"
minimalmodbus = "*"
pyserial = "*"
easysnmp = "*"
arrow = "*"
peewee = "*"
psutil = "*"
requests = "*"
influxdb = "*"
xmltodict = "*"
requests-unixsocket = "*"
flask = "*"
redis = "*"
ammp-edge = {path = "./src"}
paho-mqtt = "*"

[requires]
python_version = "3.6"


[scripts]
emmp_edge = "python3 src/ammp_edge.py"
