body {
    font-family: monospace;
    color: #444;
    padding: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    text-align: center;
}

table {
    margin: auto;
 }

th, td {
    padding: 15px;
}
