<html>
  <head>
    <title>Automatic Configuration {{ node_id }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3">Automatic Configuration</h1>
      {% if confirmed %}
      <div style="height: 30px"></div>
      <h3 class="h4 mb-3">{{ status }}</h3>
      {% else %}
        <h3 class="h4 mb-3">{{ status }}</h3>
        <form action="{{ url_for('auto_config') }}" method="post">
          <label for="width">Insert Tank Width in meters</label>
          <br>
          <input type="text" name="Width"
                 placeholder="Tank Width [m]"
                 value="{{ request.form['Width'] }}"></input>
          <br>
          <br>
          <label for="length">Insert Tank Length in meters</label>
          <br>
          <input type="text" name="Length"
                 placeholder="Tank Length [m]"
                 value="{{ request.form['Length'] }}"></input>
          <br>
          <br>
          <label for="width">Insert Tank Height in meters</label>
          <br>
          <input type="text" name="Height"
                 placeholder="Tank Height [m]"
                 value="{{ request.form['Height'] }}"></input>
          <br>
          <br>
          <br>
          <button type="submit">Confirm</button>
        </form>
      {% endif %}
      <div style="height: 30px"></div>
    </div>

  </body>
</html>