{% extends 'base.html' %}

{% block title %}
  Automatic Configuration {{ node_id }}
{% endblock title %}

{% block content %}
  <div class="mb-4 d-flex align-items-center flex-column">
    <h1 class="h3 mb-3">Automatic Configuration</h1>
    {% if confirmed %}
    <div style="height: 30px"></div>
    <h3 class="h4 mb-3">{{ status }}</h3>
    {% else %}
    {% if status %}
    <h3 class="h4 mb-3 text-danger">{{ status }}</h3>
    {% endif %} 
      <form action="{{ url_for('auto_config') }}" method="post" id="tankForm">
        <div class="text-center">
          <div>Does the system have a fuel sensor which requires information on tank dimension?</div>
          <div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="showTankInputOptions" id="yesRadius" value="yes">
              <label class="form-check-label" for="yesRadius">
                Yes
              </label>
            </div>
            <div class="form-check-inline">
              <input class="form-check-input" type="radio" name="showTankInputOptions" id="noRadius" value="no" checked>
              <label class="form-check-label" for="noRadius">
                No
              </label>
            </div>
          </div>
        </div>
        <div class="d-none m-4" id="tankInputSection">
          <div class="mb-3">
            <label for="width" class="form-label">Insert Tank Width in meters</label>
            <input type="text" placeholder="Tank Width [m]" name="width" class="form-control" aria-describedby="widthlHelp" value="{{ request.form['width'] }}">
          </div>
          <div class="mb-3">
            <label for="length" class="form-label">Insert Tank Length in meters</label>
            <input type="text" placeholder="Tank Length [m]" name="length" class="form-control" value="{{ request.form['length'] }}">
          </div>
          <div class="mb-3">
            <label for="height" class="form-label">Insert Tank Height in meters</label>
            <input type="text" placeholder="Tank Height [m]" name="height" class="form-control" value="{{ request.form['height'] }}">
          </div>
        </div>
      </form>
      <button class="btn m-3 text-center" type="submit" form="tankForm">Confirm</button>
    {% endif %}
    <div style="height: 30px"></div>
  </div>
{% endblock content %}

{% block extra_script %}
  <script type="text/javascript">
    let tankForm = document.getElementById("tankInputSection")
    document.querySelectorAll('input[name="showTankInputOptions"]').forEach(btn => {
      btn.addEventListener('change', (e) => {
        var showInput = e.target.value == 'yes' ? true : false;
        if (showInput){
          tankForm.classList.remove('d-none')
        } else {
          tankForm.classList.add('d-none')
        }
      })
    })


  </script>
{% endblock extra_script %}