{% extends 'base.html' %}

{% block title %}
View Configurations - AMMP Edge {{ node_id }}
{% endblock %}


{% block style_src %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/configuration.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock style_src %}

{% block content %}
<div class="text-center mb-4">
    <h1 class="h3 mb-3">Device configurations</h1>
</div>
<div class="container">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-condensed table-striped">
                    <thead>
                        <tr>
                            <td class="border-top-0 w-50">Last updated (UTC timezone):</td>
                            <td class="border-top-0 w-50">{{ timestamp }}</td>
                          </tr>
                        <tr>
                            <th class="border-top-0 w-50">Device</th>
                            <th class="border-top-0 w-50">Config</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key in devices %}
                        <tr>
                            <td data-toggle="collapse" data-target="#demo{{loop.index}}"
                                class="accordion-toggle clickable d-flex align-items-center">
                                <span class="material-icons chev-down">&#xe5ce;</span>
                                <span>{{ devices[key]['name'] }}</span>
                            </td>
                            <td></td>
                        </tr>
                        <tr class="space-between">
                            <td colspan="12" class="hiddenRow">
                                <div class="accordian-body collapse show" id="demo{{loop.index}}">
                                    <table class="table table-condensed">
                                        {% for k,v in devices[key].items() %}
                                            {% if k != 'name' %}
                                                <tr class="detail">
                                                    <td class="w-50">
                                                        <span class="ml-5">{{ k }}</span>
                                                    </td>
                                                    <td class="w-50">
                                                        {% if k != 'address' %}
                                                            {{ v }}
                                                        {% else %}
                                                            {% for key in v %}
                                                                {{ key }} : {{ v[key] }}
                                                                <br>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </td>
                                                </tr>                                            
                                            {% endif %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}