<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>AMMP Edge {{ node_id }}</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  </head>
  <body>
    <div class="text-center mb-4">
      <h1 class="h3 mb-3">AMMP-edge node ID {{ node_id }}</h1>

      <div style="height: 30px"></div>
      <h3 class="h4 mb-3">Status information</h3>
      <table class="table-bordered table-striped" style="width: 50%">
        <tr>
          <td style="width: 40%"><b>Node ID</b></td><td>{{ node_id }}</td>
        </tr>
        <tr>
          <td><b>Device online</b></td><td>{% if device_online %}Yes{% else %}No{% endif %}</td>
        </tr>
        <tr>
          <td><b>Snap revision</b></td><td>{{ snap_revision }}</td>
        </tr>
        <tr>
          <td><b>SSH fingerprint</b></td><td>{{ ssh_fingerprint }}</td>
        </tr>
      </table>

      <div style="height: 50px"></div>
      <h3 class="h4 mb-3">Network interfaces</h3>

      <table class="table-bordered table-striped" style="width: 50%">
        <tr>
          <th>Interface</th>
          <th>MAC address</th>
          <th>IP/Netmask</th>
          <th>Scan</th>
        </tr>
        {% for interface in network_interfaces %}
        <tr>
          <td>{{ interface['name'] }}</td>
          <td>{{ interface['mac'] }}</td>
          <td>{{ interface['ip'] }}{% if interface.get('netmask_bits') %}/{{ interface['netmask_bits'] }} {% endif %}</td>
          <td style="text-align: center;">{% if interface['ip'] and interface['netmask_bits'] %}<a href="/network_scan?interface={{ interface['name'] }}">Scan</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </table>

      <div style="height: 30px"></div>
      <p><a href="/env_scan">Do a regular site scan</a></p>

    </div>
  </body>
</html>