<html>
  <head>
    <title>Network scan - AMMP Edge {{ node_id }} - interface {{ if_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <h2>Network scan results {% if node_id %} for {{ node_id }} {% endif %}{% if interface %}, interface {{ interface }} {% endif %} </h2>

    <h3>Network scan</h3>
    <table>
      <tr>
        <th>IP address</th>
        <th>MAC address</th>
        <th>Vendor</th>
        <th>Modbus</th>
        <th>HTTP</th>
        <th>HTTPS</th>
        <th>SSH</th>
      </tr>
      {% for host in network_scan_hosts %}
      <tr>
        <td>{{ host['ipv4'] }}</td>
        <td>{{ host['mac'] }}</td>
        <td>{{ host['vendor'] }}</td>
        <td style="text-align: center;">{{ 'Y' if '502' in host['ports'] }}</td>
        <td style="text-align: center;">{{ 'Y' if '80' in host['ports'] }}</td>
        <td style="text-align: center;">{{ 'Y' if '443' in host['ports'] }}</td>
        <td style="text-align: center;">{{ 'Y' if '22' in host['ports'] }}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>